@model FastBurger.Application.DTOs.ProcesoPreparacionDTO

<h1>Proceso de Preparación</h1>

<div>
    <p><strong>Producto:</strong> @Model.NombreProducto</p>
    <p><strong>Descripción:</strong> @Model.Descripcion</p>
</div>

<a asp-action="Index">Volver</a>